@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.game-board {
    display: grid;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: 200px 200px 200px;
    border: 1px solid #000000;
}

body {
    display: flex;
    justify-content: center;
}

.box {
    background-color: rgb(54, 53, 53);;
    border: 1px solid #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #AAA;
}

p {
    right: 186px;
    top: 120px;
}

h1 {
    right: 10px;
    top: 54px;
}

p,
h1 {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    color: #ffffff;
}

.reset {
    background-color: #ffffff;
    color: #000000;
    font-size: 30px;
    margin: 4px 2px;
    height: 50px;
    cursor: pointer;
}